<div class="row">
  {% if content.top %}
  <div class="col-sm-12">
    {{ content.top }}
  </div>
  {% endif %}

  {% if content.upper_far_left %}
  <div class="col-sm-3">
    {{ content.upper_far_left }}
  </div>
  {% endif %}
  {% if content.upper_mid_left %}
  <div class="col-sm-3">
    {{ content.upper_mid_left }}
  </div>
  {% endif %}

  {% if content.upper_mid_right %}
  <div class="col-sm-3">
    {{ content.upper_mid_right }}
  </div>
  {% endif %}

  {% if content.upper_far_right %}
  <div class="col-sm-3">
    {{ content.upper_far_right }}
  </div>
  {% endif %}

  {% if content.middle %}
  <div class="col-sm-12">
    {{ content.middle }}
  </div>
  {% endif %}

  {% if content.lower_far_left %}
  <div class="col-sm-3">
    {{ content.lower_far_left }}
  </div>
  {% endif %}
  {% if content.lower_mid_left %}
  <div class="col-sm-3">
    {{ content.lower_mid_left }}
  </div>
  {% endif %}

  {% if content.lower_mid_right %}
  <div class="col-sm-3">
    {{ content.lower_mid_right }}
  </div>
  {% endif %}

  {% if content.lower_far_right %}
  <div class="col-sm-3">
    {{ content.lower_far_right }}
  </div>
  {% endif %}

  {% if content.bottom %}
  <div class="col-sm-12">
    {{ content.bottom }}
  </div>
  {% endif %}
</div>